.categories {
  .categories__content {
    display: flex;

    .categories__sidebar {
      margin: 30px 0 30px 0 ;
      flex: 0 1 255px;

      .sidebar__btn{
        margin: 0 0 10px 0;
        width: 100%;
        position: relative;

        svg{
          position: absolute;
          top: 15px;
          left: 70px;
        }
      }
    }
    .categories__products {
      flex: 0 1 915px;
      margin: 0 0 60px 60px;
      display: flex;
      flex-direction: column;

      .products__list{
        display: flex;
        gap: 29px;
        flex-wrap: wrap;

        .products__item {
          margin: 30px 0 0 0;
        }
      }

    }
  }
}
