@import '../../../constants/colors.scss';
@import '../../../constants/breakpoints.scss';
@import '../../../constants/windowWidths.scss';

%afterBeforeStyles{
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: $ColorGray300;
}

.featuredPosts{
  position: relative;
  padding: 32px 0;

  &::before{
    @extend %afterBeforeStyles;
    top: 0;
  }
  &::after{
    @extend %afterBeforeStyles;
    bottom: 0;
  }
  h1{
    margin: 0;
    font-size: 24px;
    line-height: 130%;
    color: $ColorGray900;
  }
  .post__body{
    padding: 24px 0 0 0;
    display: flex;
    
    @include breakpoints($laptop-bp) {
      justify-content: center;
    }

    .post__title{
      margin: 0 0 0 20px;

      @include breakpoints($laptop-bp) {
        flex: 0 1 400px;
      }
      p{
        margin: 0 0 8px 0;
        &:first-child{
          position: relative;
          margin-left: 24px ;
          font-size: 14px;
          line-height: 150%;
          color: $ColorGray500;

          @include breakpoints($xs-bp) {
            font-size: 13px
          }
        }
        &:first-child::before{
          position: absolute;
          content: url('../../../assets/fashion-blog/featurePosts/Clock.svg');
          left: -24px ;
          top: 0;
        }
        &:last-child{
          font-weight: 700;
          font-size: 16px;
          line-height: 160%;
          color: $ColorGray900;
          cursor: pointer;

          @include breakpoints($xs-bp) {
            font-size: 14px
          }
        }
        &:last-child:hover{
          color: $ColorPrimary;
        }
      }
    }
  }
}
