@import '../../../constants/colors.scss'; 
@import '../../../constants/breakpoints.scss'; 
@import '../../../constants/windowWidths.scss'; 

.instagram{
  padding: 90px 0;

  @include breakpoints($laptop-bp) {
    padding: 40px 0 70px 0;
  }
  .instagram__body{
    display: flex;

    @include breakpoints($laptop-bp) {
      flex-direction: column-reverse;
    }
    .instagram__info{
      flex: 0 1 380px;
      margin: 0 15px 0 0;

      @include breakpoints($laptop-bp) {
        flex: 0 1 auto;
        margin: 40px auto 0 auto;
      }
      .instagram__btn{
        margin: 60px 0;

        @include breakpoints($laptop-bp) {
          text-align: center;
        }
      }
    }
    .instagram__info p{
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $ColorGray900;

      @include breakpoints($desktop-bp) {
        font-size: 14px;
      }
    }
    .instagram__info h1{
      margin: 8px 0 0 0;
      font-weight: 900;
      font-size: 46px;
      line-height: 130%;
      color: $ColorGray900;

      @include breakpoints($desktop-bp) {
        font-size: 40px;
      }
    }
    .instagram__info h1 a{
      color: $ColorGray900;
    }
    .instagram__images{
      display: flex;
      margin: 0 -15px 0 -15px;

      @include breakpoints($tablet-bp) {
        flex-direction: column;
      }
    }
    .instagram__images div{
      margin: 0 15px 0 15px;

      @include breakpoints($desktop-bp) {
        flex: 0 1 33%;
      }
      @include breakpoints($tablet-bp) {
        margin: 15px auto;
      }

      img{
        @include breakpoints($desktop-bp) {
          width: 100%;
        }
      }
    }
  }
}