@import '../../../constants/colors.scss';
@import '../../../constants/breakpoints.scss';
@import '../../../constants//windowWidths.scss';

.popularCategories{
  padding: 90px 0 90px 0;

  @include breakpoints($laptop-bp) {
    padding: 50px 0 50px 0;
  }

  .popularCategories__body h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $ColorGray900;
    text-align: center;
    margin: 0 0 60px 0;

    @include breakpoints($laptop-bp) {
      font-size: 35px;
    }
    @include breakpoints($xs-bp) {
      font-size: 30px;
    }
  }
}
