@import '../../constants/colors.scss';

.popularCategories{
  padding: 90px 0 90px 0;

  .popularCategories__container{
    width: 1230px;
    margin: 0 auto;
  }
  .popularCategories__container h1{
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: $ColorGray900;
    text-align: center;
    margin: 0 0 60px 0;
  }
}
