@import '../../../constants/breakpoints.scss';
@import '../../../constants//windowWidths.scss';

.collections{
  padding: 90px 15px;

  @include breakpoints($laptop-bp) {
    padding: 50px 15px;
  }

  .collections__content{
    display: flex;
    margin-bottom: 15px;

    @include breakpoints($desktop-bp) {
      flex-direction: column;
      margin: 0;
    }
    
    .collections__body{
      height: 500px;
      margin: 0 7.5px 0 15px;

      @include breakpoints($desktop-bp) {
        margin: 7.5px 0 15px 0;
      }

      .collections__title{
        padding: 60px;
      }
      .collections__title p{
        margin: 0;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase;

        @include breakpoints($laptop-bp) {
          font-size: 12px;
        }
      }
      .collections__title h1{
        margin: 12px 0 0 0;
        font-weight: 900;
        font-size: 32px;
        line-height: 130%;

        @include breakpoints($desktop-bp) {
          height: 84px;
        }
        @include breakpoints($laptop-bp) {
          height: 65px;
          font-size: 25px;
        }
        @include breakpoints($xs-bp) {
          height: 52px;
          font-size: 20px;
        }
      }
    }
    .collections__body.body{
      flex: 0 1 40%;
      background: url('../../../assets/collections/image1.webp') no-repeat;
      background-size: cover;
    }
    .collections__body.body2{
      flex: 0 1 60%;
      background: url('../../../assets/collections/image2.webp') no-repeat;
      background-size: cover;
    }
    .collections__body.body3{
      flex: 0 1 60%;
      background: url('../../../assets/collections/image3.webp') no-repeat;
      background-size: cover;
    }
    .collections__body.body4{
      position: relative;
      flex: 0 1 40%;
      background: url('../../../assets/collections/image4.png') no-repeat;
      background-size: cover;
      overflow: hidden;
    }
    .collections__body.body,
    .collections__body.body2,
    .collections__body.body3,
    .collections__body.body4 {
      @include breakpoints($desktop-bp) {
        border-radius: 10px;
      }
    }
    .collections__body.body4 span{
      position: absolute;
      right: 0;
      width: 430px;
      height: 380px;
      content: url('../../../assets/collections/image5.svg');
    }
  }
}