@import './colors.scss';

%ShopButton{
    padding: 15px 40px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid $ColorPrimary;
}

%buttonOutlined{
    @extend %ShopButton;
    color: $ColorPrimary;
    background: none ;
}
%buttonPrimary{
    @extend %ShopButton;
    color: $ColorWhite;
    background: $ColorPrimary ;
}
%buttonPrimaryIcon{
    @extend %ShopButton;
    color: $ColorWhite;
    background: $ColorPrimary ;
    padding: 15px 40px 15px 72px;
    
}
%buttonOutlinedIcon{
    @extend %ShopButton;
    padding: 15px 40px 15px 72px;
    color: $ColorPrimary;
    background: none ;
}