@import './colors.scss';

%buttonOutlined{
    padding: 15px 40px;
    color: $ColorPrimary;
    border: 1px solid $ColorPrimary;
    border-radius: 4px;
    background: none ;
    margin-right: 24px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}
%buttonPrimary{
    padding: 15px 40px;
    color: $ColorWhite;
    border: 1px solid $ColorPrimary;
    border-radius: 4px;
    background: $ColorPrimary ;
    margin-right: 24px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}