$ColorDanger: #FF4242;
$ColorGray900: #1E212C;
$ColorGray800: #424551;
$ColorGray500: #9A9CA5;
$ColorGray400: rgb(153, 145, 145);
$ColorGray300: #E5E8ED;
$ColorGray200: #F4F5F7;
$ColorPrimary: #17696A;
$ColorPrimaryLight: #2f9b9d;
$ColorWhite: #FFFFFF;