@mixin featuredSliderBodyBreakpoint {
  flex-direction: column-reverse;
  width: 80% !important;
  margin: 0 auto;
  align-items: center;
}
@mixin featuredSliderTitleBreakpoint {
  margin: 10px 0;
  align-items: center;
  text-align: center;
}
@mixin featuredPostsSliderImageBreakpoint {
  width: 150px;
}