@import '../../../constants/colors.scss';
@import '../../../constants/breakpoints.scss';
@import '../../../constants/windowWidths.scss';

.newArrivals{
 margin: 24px 0 0 0;

  .newArrivals__title{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-bottom: 60px;

   @include breakpoints($tablet-bp) {
    padding-bottom: 30px;
   }
  }
  .newArrivals__title h1{
   color: $ColorGray900;
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   
   @include breakpoints($tablet-bp) {
    margin: 15px 0;
   }
  }
  .newArrivals__title p{
  margin: 0 0 0 0;
  color: $ColorGray500;
  font-size: 18px;
  line-height: 150%;

    @include breakpoints($tablet-bp) {
      font-size: 16px;
    }
    @include breakpoints($xs-bp) {
      font-size: 14px;
    }
  }
  .newArrivals__title p a{
   color: $ColorPrimaryLight;
   text-decoration: underline;
  }
}
