@import '../../constants/colors.scss';
@import '../../constants/breakpoints.scss';
@import '../../constants/windowWidths.scss';

.fashionBlog{

  .fashionBlog__content{
    display: flex;
    overflow: hidden;

    @include breakpoints($laptop-bp) {
      flex-direction: column;
    }

    .fashionBlog__fashion{
      flex: 0 1 810px;
      margin: 0 78px 90px 0;

      @include breakpoints($laptop-bp) {
        width: 85%;
        margin: 0 auto 60px auto;
      }
      @include breakpoints($xs-bp) {
        width: 90%;
        margin: 0 auto 60px auto;
      }

      h1{
        font-weight: 900;
        font-size: 46px;
        line-height: 130%;
        color: $ColorGray900;
        margin: 32px 0;

        @include breakpoints($laptop-bp) {
          font-size: 40px;
          text-align: center;
        }
        @include breakpoints($tablet-bp) {
          font-size: 35px;
        }
        @include breakpoints($xs-bp) {
          font-size: 30px;
        }
      }
    }
    .fashionBlog__other{
      display: flex;
      flex-direction: column;
      flex: 0 1 342px;
      margin: 40px 0;

      h1{
        @include breakpoints($laptop-bp) {
          text-align: center;
        }
      }

      @include breakpoints($laptop-bp) {
        flex: none;
        width: 85%;
        margin: 0 auto;
      }
      @include breakpoints($xs-bp) {
        flex: none;
        width: 90%;
        margin: 0 auto;
      }

      .fashionBlog__input{
        position: relative;
        padding: 0 0 32px 0;

        input{
          width: 320px;

          @include breakpoints($laptop-bp) {
            width: 100%;
          }
        }
        &::before{
          position: absolute;
          content: '';
          width: 100%;
          height: 1px;
          background-color: $ColorGray300;
          bottom: 0;
        }
      }
    }
  }
}