@import '../../constants/colors.scss';

%navLink{
    font-weight: 700;
    color: $ColorGray800;
    text-decoration: none;
}
%navLinkRed{
    font-weight: 700;
    color: $ColorDanger;
    text-decoration: none;
}
.header__container{
    max-width: 1230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    .header__content{
        display: flex;
        align-items: center;

        .header__menu{
            margin: 0 60px 0 60px;
            .menu__body{
    
                .menu__list{
                    display: flex;
                    list-style: none;
                    margin: 0;
                    padding: 0;
    
                    .menu__item{
                        margin-left: 40px;
    
                        .menu__link{
                          @extend %navLink;
                        }
                    }
                    .menu__item:last-child{
                        .menu__link{
                            @extend %navLinkRed;
                        }
                    }
                }
            }
        }
    
        .header__input {
            margin: 20px 40px 20px 40px;
        }
        .header__buttons{
            display: flex;
            align-items: center;
            position: relative;
            .button__heart{
                cursor: pointer;
                height: 20px;
                width: 20px;
                margin: 10px;
                border: none;
                background: url('../../assets/header/outline.svg') no-repeat center;
            }
            .button__cart{
                cursor: pointer;
                height: 22px;
                width: 22px;
                margin: 10px;
                border: none;
                background: url('../../assets/header/cart.svg') no-repeat center;
            }
        }
        .header__buttons div:before{
            display: block;
            content: '';
            height: 22px;
            width: 1px;
            margin: 0 20px 0 20px;
            background-color: $ColorGray400;
        }
    }
}
.header__sale{
    width: 100%;
    background: $ColorPrimary;
    overflow:hidden;
    
    .sale__container{
        max-width: 1230px;
        margin: 0 auto;
        padding: 7px;

        .sale__content{
            display: flex;
            justify-content: center;
            color: $ColorWhite;
        }

        .sale__content p{
            font-weight: 600;
            margin: 0;
            font-size: 13px;
        }

        .sale__content a{
            font-weight: 300;
            font-size: 12px;
            margin-left: 4px;
            color: $ColorWhite;
        }
    }
}
