@import '../../../constants/buttons.scss';

.buttonOutlined{
    @extend %buttonOutlined;
}

.buttonPrimary{
    @extend %buttonPrimary;
}

.buttonOutlinedIcon{
    position: relative;
    @extend %buttonOutlinedIcon;
}

.button__icon{
    position: absolute;
    top: 12px;
    left: 40px;
}