@import '../../constants/colors.scss';

%stylesLine{
  font-size: 16px;
  opacity: 0.6;
  color: $ColorWhite;
}

.footer{
  background: $ColorGray900;

  .footer__body{
    display: flex;
    padding: 60px 0 40px 0;

    .footer__item{
      .item__link .link__title a{
        @extend %stylesLine;
      }
    }
    .contacts__item{
      .contacts__body .contacts__title span{
        &:first-child{
          font-size: 16px;
          color: $ColorWhite ;
          margin-right: 4px;
        }
        &:nth-child(2){
          @extend %stylesLine;
        }
      }
      
      .contacts__img{
        margin-top: 24px;
      }
      .contacts__img > img{
        margin-left: 12px;
        &:first-child{
          margin: 0;
        }
      }
    }
    .download__item div{
      padding: 12px 0 0 0;

      img:nth-child(2){
        margin: 0 0 0 20px;
      }
    }
  }
  .footer__body > div{
    margin-left: 150px;
  }
  .footer__body > div:first-child{
    margin-left: 0;
  }
  .footer__copyright{
    border-top: 1px solid rgba($ColorWhite, 0.16);

    .copyright__body{
      padding: 24px 0 32px 0;
      display: flex;
      justify-content: space-between;
      p{
        font-size: 12px;
        color: $ColorWhite;
        margin: 0;
        opacity: 0.7;
        text-transform: none;
        span{
          position: relative;
          margin-left: 18px;
          &::before{
            position: absolute;
            content: url('../../assets/footer/hart.svg');
            top: 0;
            left: -18px;
          }
        }
      }
      .copyright__link > a{
        @extend %stylesLine;
      }
    }
  }
}
.footer :global(p){
  font-weight: 700;
  font-size: 16px;
  color: $ColorWhite;
  text-transform: uppercase;
  margin: 0 0 12px 0;
}
.footer :global(ul){
  padding: 0;
  margin: 0;
  list-style: none;
  li{
    margin-bottom: 10px;
  }
}