@import '../../../constants/colors.scss';

.input__search {
  font-family: 'Lato';
  width: 362px;
  padding: 12px 0 12px 16px;
  border: 1px solid #D7DADD;
  border-radius: 4px;
  background: url('../../../assets/header/search.svg') no-repeat;
  background-position: bottom 12px right 12px ;
}
.input__search::-webkit-input-placeholder { 
  color: $ColorGray500;
}