@import '../../../constants/colors.scss';
@import '../../../constants/breakpoints.scss';
@import '../../../constants/windowWidths.scss';

%cardImageStyles {
  flex: 0 1 auto;
  height: 320px;
  width: 285px;
  position: relative;

  &::before {
    content: url('../../../assets/card/heartСircle.svg');
    position: absolute;
    bottom: 16px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

div {
  .card__content {
    .card__image_five {
      @extend %cardImageStyles;
      &::after {
        content: url('../../../assets/card/ratingFive.svg');
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
    .card__image_four {
      @extend %cardImageStyles;

      &::after {
        content: url('../../../assets/card/ratingFour.svg');
        position: absolute;
        top: 16px;
        right: 16px;
      }
    }
    .card__image {
      @extend %cardImageStyles;
    }

    .stars {
      .star {
        position: absolute;
        right: 16px;
        top: 16px;
        display: inline-block;
        vertical-align: top;
        width: 13px;
        height: 13px;
        background: linear-gradient(to bottom, rgba(197, 196, 196, 1) 0%, rgba(180, 179, 178, 1) 100%);

        &:before {
          content: '';
          position: absolute;
          top: 1px;
          left: 1px;
          bottom: 1px;
          right: 1px;
          background: linear-gradient(to bottom, rgba(221, 220, 219, 1) 0%, rgba(209, 208, 206, 1) 100%);
          z-index: 1;
        }
      }

      .activeStar {
        background: linear-gradient(to bottom, rgba(224, 194, 75, 1) 0%, rgba(207, 125, 0, 1) 100%);

        &::before {
          background: linear-gradient(to bottom, rgba(243, 212, 85, 1) 0%, rgba(238, 164, 0, 1) 100%);
        }
      }

      .star,
      .star:before {
        -webkit-clip-path: polygon(
          50% 0%,
          66% 27%,
          98% 35%,
          76% 57%,
          79% 91%,
          50% 78%,
          21% 91%,
          24% 57%,
          2% 35%,
          32% 27%
        );
        clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
      }
    }

    .card__subtitle {
      padding: 16px 0 0 16px;

      .card__title {
        color: $ColorGray800;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 8px;
      }
      .card__price {
        color: $ColorGray900;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
