@import '../../../constants/colors.scss';

.TopPanel{
  padding: 15px 0;
  background: $ColorGray300;

  .fashionBlog__panel{
    display: flex;
    align-items: center;
    
    input{
      background: url('../../../assets/fashion-blog/Home.svg') no-repeat ;
      height: 16px;
      width: 16px;
      border: none;
      cursor: pointer;
    }
    button{
      position: relative;
      background-color: transparent;
      border: none;
      color: $ColorGray500;
      font-size: 14px;
      font-family: 'Lato';
      margin: 0 0 0 18px;
      &::before{
        position: absolute;
        content: url('../../../assets/fashion-blog/Right-chevron.svg');
        top: -2;
        left: -15px;
      }
    }
  }
}