@import '../../../constants/colors.scss';
@import '../../../constants/buttons.scss';


.slider{
    background: url('../../../assets/slider/bg.png') center;
    height: 800px;

    .slider__container{
        width: 1230px;
        margin: 0 auto;
        padding: 150px 0 0 0 ;

        .slider__content{
            .slider__button_primary{
                margin-left: 24px;
            }
        }
        
        .slider__content div{
            color: $ColorGray900;
            font-weight: 700;
            font-size: 18px;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin-bottom: 12px;
        }
        .slider__content h1{
            padding: 0;
            color: $ColorGray900;
            font-weight: 900;
            font-size: 72px;
            line-height: 130%;
            margin: 12px 0 60px 0;
        }
    }
}

