@import '../../../constants/colors.scss';
@import '../../../constants/breakpoints.scss';
@import '../../../constants/windowWidths.scss';

.tag{
  margin: 32px 0;
  h1{
    margin: 0 0 12px 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 130%;
    color: $ColorGray900;
  }
  .tag__list{
    display: flex;
    flex-wrap: wrap;

    @include breakpoints($laptop-bp) {
      justify-content: center;
    }

    .tag__body{
      margin: 12px 12px 0 0;
      padding: 6px 8px;
      border: 1px solid $ColorGray500;
      border-radius: 4px;
      cursor: pointer;

      span{
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        color: $ColorGray500;
      }
      &:hover{
        background: $ColorPrimary;
        span{
          color: $ColorWhite;
        }
      }
    }
  }
}